@model Denim.Models.File

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("AddFiles", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="file" name="file" id="file" style="font:bold 15px large,verdana" class="btn btn-info"><br />
        <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>


}
        @*<input type="button" value="Preview" onclick="PreviewImage();" />*@
@*<input type="file" id="ImageData" name="ImageData" value="ImageData" accept="image/*" />*@