@model System.Web.Mvc.HandleErrorInfo
 

@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h1 class="text-warning">Error.</h1>
<h2 class="text-warning">An error occurred while processing your request.</h2>

